@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-medium text-blue-600;
}
a:hover {
  @apply text-blue-500;
}

body {
  @apply flex items-center justify-center min-w-[320px] min-h-screen;
}

h1 {
  @apply text-4xl leading-tight;
}

button {
  @apply rounded-lg border border-transparent px-3 py-2 text-base font-medium bg-gray-900 cursor-pointer transition-colors;
}
button:hover {
  @apply border-blue-600;
}
button:focus,
button:focus-visible {
  @apply outline-4;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    @apply text-blue-400;
  }
  button {
    @apply bg-gray-100;
  }
}
